<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VShare</title>
    <style>
        body {
            background-image: url("/views/img/loginimg.jpg") ;
           
           
        }
    </style>
</head>

<body >
    <%- include ("includes/header") %>

       
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-col text-center w-full mb-20">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Happy Sharing</h1>
                    <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Keep your fears to yourself, but share your
                        courage with others.</p>
                </div>
                <div class="flex flex-wrap -m-4">


                </div>
            </div>
        </section>

        <%- include ("includes/footer") %>
           
</body>

<!--<button class="flex ml-auto text-white bg-pink-500 border-0 py-2 px-6 focus:outline-none hover:bg-pink-600 rounded">Button</button>
    </div>-->

</html>